<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Admin Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="/static/signup/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/static/signup/css/style.css">
	</head>

	<body>

		<div class="wrapper" style="background-image: url('/static/signup/images/wallbg1.jpg');">
			<div class="inner" style="background-image: url('/static/signup/images/login.jpg');">
				<form action="/admin/login" id="login-form" method="POST">
					<h2>Admin Login</h2>
					<div class="form-wrapper">
						<label for="">Email</label>
						<input type="email" class="form-control" name="email" id="email">
					</div>
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" class="form-control" name="password" id="password">
					</div>
					
					<!-- <div class="checkbox">
						<label>
							<input type="checkbox"> I caccept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div> -->
					<div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit button" value="Login"/>
                        <!-- <a href="/otpLogin" class="submit-link button" style="text-decoration: none;">Login with Otp</a> -->
                    </div>
                    <div class="text-center" id="text2"  style="text-align: center;">
                        <p>Forgot? <a class="link1" href="/">Username/Password</a></p>
                      
                      </div>
                    <!-- <div class="text-center" id="text2" >
                        <p>Don't have an account? <a class="link1" href="/signup">Sign Up</a></p>
                      
                      </div> -->
				</form>
			</div>
		</div>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
	   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
		<% if (locals.notice) { %>
			<script>
			  Swal.fire({
				icon: 'error',
				title: '<%=notice%>',
				showConfirmButton: false,
				timer: 2000
			  });
			</script>
			<% } %> 
			<% if (locals.Tnotice) { %>
				<script>
				  Swal.fire({
					icon: 'success',
					title: '<%=Tnotice%>',
					showConfirmButton: true,
					timer: 5000
				  });
				</script>
				<% } %> 
	</body>
</html>